<div class='container-fluid'>
    <div class='row main-page'>
        <div class="col-md-4 bonsai-panel blue">
            <div class="logo"></div>
            <div class="thx"></div>
            <span class="for-signup">FOR SIGNING UP!</span>
            <span class="nowshare">NOW SHARE THE LOVE, SO WE CAN GIVE YOU THINGS TO LOVE.</span>
            <span class="how">HOW? &#8594;</span>
        </div>
        <div class="col-md-5 bonsai-panel center-refer">
            <span class="step">Step 1</span>
            <span>Copy the link.</span>
            <span class="step">Step 2</span>
            <span>Post the link.</span>
            <span class="step">Step 3</span>
            <span class="step3">Binge browse the Bonsai app while your friends click the link.</span>
            <span class="step link">the link.</span>
            <span class="arrow-down">&#8595;</span>
            <% twitter_message = "Thanks @shopbonsai for the free Harry's shave kit." %>
            <div class="copy-link">
                <input type="text" value="<%= root_url %>?ref=<%= @user.referral_code %>" id="referal_link">
                <span>(Click to copy)</span>
            </div>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
            <span class="info">Each sign up puts you one step closer to Christmas in January</span>
            <span class="step">Gift Tracker &#8594;</span>
        </div>
        <div class="col-md-3 bonsai-panel rewards-col">
          <div class="rewards" data-points="<%= @user.referrals.count %>">
          <div class="reward" data-min="25">
            <div class="name">Bonsai Jacket</div>
            <div class="points">50</div>
            <div class="image"><%= image_tag('jacket.png') %></div>
          </div>
          <div class="reward" data-min="10">
            <div class="name">Harry's Shave Kit</div>
            <div class="points">25</div>
            <div class="image"><%= image_tag('shavekit.png') %></div>
          </div>
          <div class="reward" data-min="5">
            <div class="name">Harry's Truman Razor</div>
            <div class="points">10</div>
            <div class="image"><%= image_tag('razor.png') %></div>
          </div>
          <div class="reward" data-min="0">
            <div class="name">Harry's Foaming Shave Gel</div>
            <div class="points">05</div>
            <div class="image"><%= image_tag('gel.png') %></div>
          </div>
        </div>
        </div>
    </div>
</div>
</div>
